body {
    background-color: rgb(59, 16, 58);
}
/* ESTO ES NAVEGADORES */
.container{
display: flex;
justify-content: space-between;
align-items: center;
background-color: azure;
border-bottom: 3px solid   green;

}
.navigation{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
display: flex;
width: 500px;
justify-content: space-between;
list-style: none;
}
.barranav{
background-color: aqua;
}
.logo{
background-color: rgb(158, 101, 31);
border-radius: 1px ;
}

/* slider con css y html */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.slider{
    margin: 50px auto 0;
    overflow: hidden;
 
    animation: slide 3s infinite alternate ease-in-out;
    
}
.slider ul {
display: flex;
padding: 0%;
width: 300%;
}
.slider li {
    list-style: none;
    width: 100%;
}
.slider img {
    width: 100%;
}
@keyframes slider {
0%{margin-left: 0%;}
20%{margin-left: 0%;}

25%{margin-left: - 100%;}
45%{margin-left: - 100%;}

50%{margin-left: - 200%;}
70%{margin-left: - 200%;}


}




















